h1 {
  width: 100px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: black;
  margin-left: ;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-align: center;
}
li {
  color: black;
  margin-right: 0px;
  display: inline-block;
  font-size: 20px;
}
a {
  text-decoration: none;
  border: 3px solid;
  padding: 10px;
  border-radius: 10px;
  border-color: black;
  color: black;
}
a:hover {
  background-color: bisque;
}
table {
  width: 100%;
}
table,
th,
td {
  border: 2px solid;
}
th {
  background-color: blue;
}
th,
td {
  padding: 10px;
}
div {
  background-image: url(images/donuts.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.p {
  color: blue;
  text-align: center;
}
#p {
  text-align: center;
  color: blueviolet;
}
